Source: rtl88x2bu
Section: kernel
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9), dkms

Package: rtl88x2bu-dkms
Architecture: all
Depends: ${misc:Depends}, dkms, bc
Description: DKMS source for rtl88x2bu
